doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Jason's OAuth 2.0 Project
    // Bootstrap core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')

  body
    .bd-pageheader
      .container.md-12.text-center
        h1 OAuth "By Hand"
        h4 Jason Hoffman, CS496
      p.lead.text-center
        | Select the button below to step through the OAuth2 process. After authorization, your name and 
        | a link to your Google Plus account will be displayed.
    .container.md-3
    .container
      .col-md-12.text-center
        h2 OAuth Test
        form(action=action method=method)
          button(type='submit' class='btn btn-lg btn-block btn-' + bType) #{message}
        .col-md-12
          h2 #{email}
        .col-md-12
          h3 #{gpaccount}
        .col-md-12
          h3 #{statevar}
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
